<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206517623622-svrl0t376bb3v9qf1ct1mrqb67406fqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206517623622-svrl0t376bb3v9qf1ct1mrqb67406fqf</string>
	<key>API_KEY</key>
	<string>AIzaSyCgW4_VFiFWH-ezp6dcsNQFzJQsAsQPBGk</string>
	<key>GCM_SENDER_ID</key>
	<string>206517623622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nBaz</string>
	<key>PROJECT_ID</key>
	<string>indi-assignment</string>
	<key>STORAGE_BUCKET</key>
	<string>indi-assignment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206517623622:ios:02747dc5a076b4f0e52347</string>
</dict>
</plist>